@page "/Homekl"
@inject TableTracewithQRCode.Data.HomeController  homeController

<h1>Restaurant Contact Tracing</h1>

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (homeController.GetState())
        {
            homeController.LogOut();
        }
        this.StateHasChanged();
    }
}

