@page "/Log"
@page "/Log/{CurrentCount:int}"
@page "/Log/{CurrentCount:int}/{Table}"

@using Newtonsoft.Json;
@using System;
@using System.Data;
@using System.ComponentModel.DataAnnotations;
@using BlazorRestaurantQRCode.Data;
@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Text;

@inject NavigationManager navigationManager
@inject BlazorRestaurantQRCode.Data.HomeController  homeController

@inject HttpClient client
@inject IJSRuntime JsRuntime

@using AspNetMonsters.Blazor.Geolocation
@inject LocationService  LocationService




<h2>Aths Essendon Track Log</h2>
<h1>Log attendance</h1>

<br />

<EditForm OnValidSubmit=@OnValidSubmit Model="@tableTrace1">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label><b>Table: <i>@Table</i></b></label>
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <InputText @bind-Value=tableTrace1.Name class="form-control" id="Name" PlaceHolder="Please enter a first name at least." />
        <ValidationMessage For="@(() => tableTrace1.Name)" />
    </div>
    <div class="form-group">
        <label for="Age">Mobile Number with leading 0</label><br />
        <InputText @bind-Value=tableTrace1.PhoneNumber class="form-control" id="Mobile" PlaceHolder="Please enter a valid mobile number, eg 0456789123" />
        <ValidationMessage For="@(() => tableTrace1.PhoneNumber)" />
    </div>
    <input type="submit" class="btn btn-primary" value="Log Me" />
</EditForm>
<h3>You are here</h3>
<div>
    Lat: @location?.Latitude <br />
    Long: @location?.Longitude <br />
    Accuracy: @location?.Accuracy <br />
</div>
@if (@showGif)
{
<img src="./basicloader.gif" />
}
@code { [Parameter]
    public int? CurrentCount { get; set; }
    [Parameter]
    public string Table { get; set; }

    private const string ServiceEndpoint = "/api/TableTraces";


    public int mode { get; set; } = 1;

    TableTrace tableTrace1 = new TableTrace();
    string PhoneText { get; set; } = "04";
    string Club { get; set; } = "";
    string Output { get; set; } = "";
    string error { get; set; }

    bool showGif = false;

    int Pin = 0;

    HttpClient Http;

    void LogOut()
    {

    }

    Location location = null;

    protected async Task GetLocation()
    {
        location = await LocationService.GetLocationAsync();
        this.StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
            base.OnAfterRender(first);
            await GetLocation();
        }
    }

    protected override void OnInitialized()
    {
        Http = new HttpClient();
        base.OnInitialized();
        if (homeController.GetState())
        {
            homeController.LogOut();
        }
        CurrentCount = CurrentCount ?? 1;
        Table = Table ?? "0";
        Pin = homeController.Pin;
        if (CurrentCount != Pin)
        {
            navigationManager.NavigateTo("/");
        }
        tableTrace1.Table = Table;
    }


    //void OnValidSubmit(EditContext editContext)
    async Task OnValidSubmit()
    {
        error = null;
        try
        {
            showGif = true;
            StateHasChanged();

            int pin = homeController.Pin;
            string name = tableTrace1.Name;
            string phone = tableTrace1.PhoneNumber;
            if (!CheckDetails(name, phone))
            {
                showGif = false;
                await JsRuntime.InvokeAsync<bool>("alert", "Invalid entry: Need Name and valid Mobile.");
                return;
            }
            homeController.Authenticate(name, phone);
            TableTrace tableTrace = new TableTrace { Name = name, PhoneNumber = phone, Date = DateTime.Now, Email = "a@b.c.com", Mode = mode, Pin = Pin };
            tableTrace.Table = Table;
            if (location != null)
            {
                //MS SQL serer truncates decimal to 2 decimal digits
                //Ref: https://mattferderer.com/entity-framework-no-type-was-specified-for-the-decimal-column
                decimal? latitude = location?.Latitude * 1000000;
                decimal? longitute = location?.Longitude * 1000000;
                decimal? accuracy = location?.Accuracy * 1000000;
                tableTrace.Latitude = latitude;
                tableTrace.Longitude = longitute;
                tableTrace.Accuracy = accuracy;
            }

            //One way of sending sending tableTrace
            //var content = new StringContent(
            //    JsonConvert.SerializeObject(tableTrace),
            //    Encoding.UTF8,
            //    "application/json");
            //var response1 = await client.PostAsync($"{Settings.baseURL}", content);
     
            //Simpler coding. May need previous method for more complex serialisations.
            var response2 = await client.PostAsJsonAsync<TableTrace>($"{Settings.baseURL}", tableTrace);

            var traces= await client.GetFromJsonAsync<TableTrace[]>($"{Settings.baseURL}");


            showGif = false;
            StateHasChanged();
            string target = $"/Thanks/{pin}";
            navigationManager.NavigateTo(target);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    /// <summary>
    /// Check for a vali mobile number
    /// Can enter a local landline
    /// Can enter an email address
    /// </summary>
    /// <param name="name"></param>
    /// <param name="phone"></param>
    /// <returns></returns>
    bool CheckDetails(string name, string phone)
    {
        if (string.IsNullOrEmpty(name))
            return false;
        if (string.IsNullOrEmpty(phone))
            return false;

        //Validate Mobile
        //0400000000 to 0499999999
        long MobileNo;
        if (long.TryParse(phone, out MobileNo))
        {
            if (MobileNo >= 0400000000)
            {
                if (MobileNo <= 0499999999)
                {
                    return true;
                }
            }
            if (MobileNo >= 90000000)
            {
                if (MobileNo <= 99999999)
                {
                    return true;
                }
            }
        }
        var foo = new EmailAddressAttribute();
        if (foo.IsValid("phone"))
            return true;

        return false;
    }
}


